<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                margin: 0; padding: 0; outline: 0;
            }
            html {
                text-align: center;
                min-height: 100%;
            }
            body {
                width: 900px; margin: 100px auto 0; min-height: 100%;
            }
            button {
                cursor: pointer; text-indent: -1000px;
                background: transparent url('/assets/button-play.png') center top no-repeat;
                border: 0; width: 211px; height: 209px; margin-bottom: 50px;
                overflow: hidden;
            }
                button:hover {
                    background-position: center -210px;
                }
            input[type="text"] {
                font-size: 45px;
                background: transparent url('/assets/icon-write.png?1') 10px -88px no-repeat;
                padding: 10px 15px 10px 65px; max-width: 280px; border: 5px solid #dbdbdb; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
            }
                input[type="text"]:focus {
                    color: #3e6802;
                    background-position: 10px 12px;
                    border-color: #95e129;
                }
        </style>
    </head>
    <body>
        <audio src="<%= @character.audio %>" id="word">
            <p>Your browser does not support HTML5 audio</p>
        </audio>
        <p><%= flash[:notice] %></p>
        <button id="play">Play the Audio</button>
        <%= form_for @guess do |f| %>
            <%= f.text_field :hanzi %>
            <%= f.hidden_field :character_id %>
        <% end %>
        <script>
            var button = document.getElementById('play'),
                audio = document.getElementById('word');
                
            button.onclick = function() {
                audio.play();
            };
        </script>
    </body>
</html>