<p><%= @guessed_character.hanzi %></p>
<p><%= @guessed_character.zhuyin_fuhao %></p>
<p><%= @guessed_character.pinyin %></p>
<p><%= @guessed_character.english %></p>

<%= render :partial => 'guesses/form' %>