<%= form_for [:admin, @character], :html => {:multipart => true} do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hanzi %><br />
    <%= f.text_field :hanzi %>
  </div>

  <div class="field">
    <%= f.label :audio %>
    <%= f.file_field :audio %>
    <%= f.hidden_field :audio_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>